*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html, body, #console-container{
    width: 100%;
    background: #121212;
    height: 100%;
    cursor: text;
}

#console-container{
    min-height: 100%;
    width: 100%;
}

#console-container{
    padding: 5px;
    display: block;
}

#console-container a{
    color: #f5f5f5;
}

.prompt{
    color: #f5f5f5;
    display: flex;
}

.prompt .host{
    color: limegreen;
    flex-grow: 0;
    font-weight: bold;
}

.prompt > div{
    margin-bottom: 5px;
}

.prompt .input{
    flex-grow: 2;
    padding-left: 5px;
}

.prompt .output p{
    margin-bottom: 5px;
    margin-left: 5px;
}

.prompt .output table{
    /* border-top: 1px solid; */
}

.prompt .output td{
    /* border-right: 1px solid;
    border-bottom: 1px solid; */
    padding: 5px;
    min-width: 80px;
}

.prompt .output tr td:first-child, .prompt .output th td:first-child{

    /* border-left: 1px solid; */
}

.prompt .input .command{
    background: none;
    color: #f5f5f5;
    border: none;
    width: 100%;
}

.prompt .input .command:focus{
    outline: none;
}

kbd{
    border:1px solid #999;
  text-transform: uppercase;
  padding:0 .2em;
}
#game{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    display: none;
}
.close{
    position: fixed;
    right: 0;
    top: 0;
    color: #f5f5f5;
    font-size: 24px;
    margin: 10px;
    display: none;
    font-size: 50px;
  }

  .control{
      position: fixed;
      display: flex;
      bottom: 0;
      left: 50%;
      width: 320px;
      margin-left: -160px;
      margin-bottom: 10px;
  }

  .control *{
      flex-grow: 1;
  }

  .control button{
      background: none;
      border: 1px solid #f5f5f5;
      color: #f5f5f5;
  }